openapi: 3.0.3
info:
  title: Dropbox API
  description: Dropbox API v2 - Combined from multiple Stone definitions
  version: '2.0'
  contact:
    name: Dropbox API
    url: https://www.dropbox.com/developers
servers:
- url: https://api.dropboxapi.com/2
  description: Dropbox API v2
paths: {}
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.dropbox.com/oauth2/authorize
          tokenUrl: https://api.dropboxapi.com/oauth2/token
          scopes: {}
  schemas:
    RootInfo:
      type: object
      properties:
        root_namespace_id:
          $ref: '#/components/schemas/NamespaceId'
        home_namespace_id:
          $ref: '#/components/schemas/NamespaceId'
      required:
      - root_namespace_id
      - home_namespace_id
      description: Information about current user's root.
    TeamRootInfo:
      allOf:
      - $ref: '#/components/schemas/RootInfo'
      - type: object
        properties:
          home_path:
            type: string
        required:
        - home_path
        description: Root info when user is member of a team with a separate root namespace ID.
      description: Root info when user is member of a team with a separate root namespace ID.
    UserRootInfo:
      allOf:
      - $ref: '#/components/schemas/RootInfo'
      - type: object
        properties: {}
        description: |-
          Root info when user is not member of a team or
              the user is a member of a team and the team does not have a separate root namespace.
      description: |-
        Root info when user is not member of a team or
            the user is a member of a team and the team does not have a separate root namespace.
    PathRoot:
      type: object
      properties:
        .tag:
          type: string
          enum:
          - home
          - root
          - namespace_id
      required:
      - .tag
      discriminator:
        propertyName: .tag
        mapping:
          root: '#/components/schemas/NamespaceId'
          namespace_id: '#/components/schemas/NamespaceId'
    PathRootError:
      type: object
      properties:
        .tag:
          type: string
          enum:
          - invalid_root
          - no_permission
      required:
      - .tag
      discriminator:
        propertyName: .tag
        mapping:
          invalid_root: '#/components/schemas/RootInfo'
    EmailAddress:
      type: string
      maxLength: 255
    OptionalNamePart:
      type: string
      maxLength: 100
    DisplayName:
      type: string
    NamePart:
      type: string
      minLength: 1
      maxLength: 100
    DisplayNameLegacy:
      type: string
    Date:
      type: string
      format: date-time
    DropboxTimestamp:
      type: string
      format: date-time
    NamespaceId:
      type: string
    LanguageCode:
      type: string
      minLength: 2
    SessionId:
      type: string
    SharedFolderId:
      allOf:
      - $ref: '#/components/schemas/NamespaceId'
