openapi: 3.0.3
info:
  title: Dropbox API - Individual
  description: Dropbox API v2 for individual Dropbox accounts. This specification contains only user endpoints that can be called from individual Dropbox accounts without team admin headers.
  version: '2.0'
  contact:
    name: Dropbox API
    url: https://www.dropbox.com/developers
servers:
- url: https://api.dropboxapi.com/2
  description: Dropbox API v2 - API Server
- url: https://content.dropboxcontent.com/2
  description: Dropbox API v2 - Content Server
- url: https://notify.dropboxnotify.com/2
  description: Dropbox API v2 - Notify Server
paths:
  /account/set_profile_photo:
    post:
      summary: Sets a user's profile photo.
      operationId: set_profile_photo
      security:
      - oauth2:
        - account_info.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProfilePhotoArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetProfilePhotoResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetProfilePhotoError'
      description: Sets a user's profile photo.
  /auth/token/revoke:
    post:
      summary: |-
        Disables the access token used to authenticate the call.
            If there is a corresponding refresh token for the access token,
            this disables that refresh token, as well as any other access tokens for that refresh token.
      operationId: token/revoke
      security:
      - oauth2:
        - account_info.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
      description: |-
        Disables the access token used to authenticate the call.
            If there is a corresponding refresh token for the access token,
            this disables that refresh token, as well as any other access tokens for that refresh token.
      x-stone-allow-app-folder: true
  /auth/token/from_oauth1:
    post:
      summary: Creates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.
      operationId: token/from_oauth1
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenFromOAuth1Arg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenFromOAuth1Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenFromOAuth1Error'
      description: Creates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.
      x-stone-auth: app
      x-stone-allow-app-folder: true
  /check/user:
    post:
      summary: |-
        This endpoint performs User Authentication, validating the supplied access token,
            and returns the supplied string, to allow you to test your code and connection to the
            Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied
            query, it indicates at least part of the Dropbox API infrastructure is working and that the
            access token is valid.
      operationId: user
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchoArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResult'
      description: |-
        This endpoint performs User Authentication, validating the supplied access token,
            and returns the supplied string, to allow you to test your code and connection to the
            Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied
            query, it indicates at least part of the Dropbox API infrastructure is working and that the
            access token is valid.
      x-stone-auth: user
      x-stone-preview: true
      x-stone-allow-app-folder: true
  /check/app:
    post:
      summary: |-
        This endpoint performs App Authentication, validating the supplied app key and secret,
            and returns the supplied string, to allow you to test your code and connection to the
            Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied
            query, it indicates at least part of the Dropbox API infrastructure is working and that the
            app key and secret valid.
      operationId: app
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchoArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResult'
      description: |-
        This endpoint performs App Authentication, validating the supplied app key and secret,
            and returns the supplied string, to allow you to test your code and connection to the
            Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied
            query, it indicates at least part of the Dropbox API infrastructure is working and that the
            app key and secret valid.
      x-stone-auth: app
      x-stone-preview: true
      x-stone-allow-app-folder: true
  /contacts/delete_manual_contacts:
    post:
      summary: |-
        Removes all manually added contacts.
            You'll still keep contacts who are on your team or who you imported.
            New contacts will be added when you share.
      operationId: delete_manual_contacts
      security:
      - oauth2:
        - contacts.write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
      description: |-
        Removes all manually added contacts.
            You'll still keep contacts who are on your team or who you imported.
            New contacts will be added when you share.
  /contacts/delete_manual_contacts_batch:
    post:
      summary: Removes manually added contacts from the given list.
      operationId: delete_manual_contacts_batch
      security:
      - oauth2:
        - contacts.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteManualContactsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteManualContactsError'
      description: Removes manually added contacts from the given list.
  /file_properties/properties/add:
    post:
      summary: |-
        Add property groups to a Dropbox file. See :route:`templates/add_for_user` or
            :route:`templates/add_for_team` to create new templates.
      operationId: properties/add
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPropertiesArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPropertiesError'
      description: |-
        Add property groups to a Dropbox file. See :route:`templates/add_for_user` or
            :route:`templates/add_for_team` to create new templates.
  /file_properties/properties/overwrite:
    post:
      summary: |-
        Overwrite property groups associated with a file. This endpoint should be used
            instead of :route:`properties/update` when property groups are being updated via a
            "snapshot" instead of via a "delta". In other words, this endpoint will delete all
            omitted fields from a property group, whereas :route:`properties/update` will only
            delete fields that are explicitly marked for deletion.
      operationId: properties/overwrite
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverwritePropertyGroupArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPropertyGroupError'
      description: |-
        Overwrite property groups associated with a file. This endpoint should be used
            instead of :route:`properties/update` when property groups are being updated via a
            "snapshot" instead of via a "delta". In other words, this endpoint will delete all
            omitted fields from a property group, whereas :route:`properties/update` will only
            delete fields that are explicitly marked for deletion.
  /file_properties/properties/update:
    post:
      summary: |-
        Add, update or remove properties associated with the supplied file and templates.
            This endpoint should be used instead of :route:`properties/overwrite` when property groups
            are being updated via a "delta" instead of via a "snapshot" . In other words, this endpoint
            will not delete any omitted fields from a property group, whereas :route:`properties/overwrite`
            will delete any fields that are omitted from a property group.
      operationId: properties/update
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertiesArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePropertiesError'
      description: |-
        Add, update or remove properties associated with the supplied file and templates.
            This endpoint should be used instead of :route:`properties/overwrite` when property groups
            are being updated via a "delta" instead of via a "snapshot" . In other words, this endpoint
            will not delete any omitted fields from a property group, whereas :route:`properties/overwrite`
            will delete any fields that are omitted from a property group.
  /file_properties/properties/remove:
    post:
      summary: |-
        Permanently removes the specified property group from the file. To remove specific property field key
            value pairs, see :route:`properties/update`.
            To update a template, see
            :route:`templates/update_for_user` or :route:`templates/update_for_team`.
            To remove a template, see
            :route:`templates/remove_for_user` or :route:`templates/remove_for_team`.
      operationId: properties/remove
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePropertiesArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovePropertiesError'
      description: |-
        Permanently removes the specified property group from the file. To remove specific property field key
            value pairs, see :route:`properties/update`.
            To update a template, see
            :route:`templates/update_for_user` or :route:`templates/update_for_team`.
            To remove a template, see
            :route:`templates/remove_for_user` or :route:`templates/remove_for_team`.
  /file_properties/templates/add_for_user:
    post:
      summary: |-
        Add a template associated with a user. See :route:`properties/add` to add properties to a file. This
            endpoint can't be called on a team member or admin's behalf.
      operationId: templates/add_for_user
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyTemplateError'
      description: |-
        Add a template associated with a user. See :route:`properties/add` to add properties to a file. This
            endpoint can't be called on a team member or admin's behalf.
  /file_properties/templates/get_for_user:
    post:
      summary: Get the schema for a specified template. This endpoint can't be called on a team member or admin's behalf.
      operationId: templates/get_for_user
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
      description: Get the schema for a specified template. This endpoint can't be called on a team member or admin's behalf.
  /file_properties/templates/update_for_user:
    post:
      summary: |-
        Update a template associated with a user. This route can update the template name,
            the template description and add optional properties to templates. This endpoint can't
            be called on a team member or admin's behalf.
      operationId: templates/update_for_user
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyTemplateError'
      description: |-
        Update a template associated with a user. This route can update the template name,
            the template description and add optional properties to templates. This endpoint can't
            be called on a team member or admin's behalf.
  /file_properties/templates/list_for_user:
    post:
      summary: |-
        Get the template identifiers for a team. To get the schema of
            each template use :route:`templates/get_for_user`. This endpoint can't be
            called on a team member or admin's behalf.
      operationId: templates/list_for_user
      security:
      - oauth2:
        - files.metadata.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
      description: |-
        Get the template identifiers for a team. To get the schema of
            each template use :route:`templates/get_for_user`. This endpoint can't be
            called on a team member or admin's behalf.
  /file_properties/templates/remove_for_user:
    post:
      summary: |-
        Permanently removes the specified template created from :route:`templates/add_for_user`.
            All properties associated with the template will also be removed. This action
            cannot be undone.
      operationId: templates/remove_for_user
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
      description: |-
        Permanently removes the specified template created from :route:`templates/add_for_user`.
            All properties associated with the template will also be removed. This action
            cannot be undone.
  /file_properties/properties/search:
    post:
      summary: Search across property templates for particular property field values.
      operationId: properties/search
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesSearchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSearchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSearchError'
      description: Search across property templates for particular property field values.
  /file_properties/properties/search/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`properties/search`, use this to paginate through all
            search results.
      operationId: properties/search/continue
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesSearchContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSearchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSearchContinueError'
      description: |-
        Once a cursor has been retrieved from :route:`properties/search`, use this to paginate through all
            search results.
  /file_requests/list:2:
    post:
      summary: |-
        Returns a list of file requests owned by this user. For apps with the app
            folder permission, this will only return file requests with destinations in
            the app folder.
      operationId: list:2
      security:
      - oauth2:
        - file_requests.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileRequestsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsV2Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsError'
      description: |-
        Returns a list of file requests owned by this user. For apps with the app
            folder permission, this will only return file requests with destinations in
            the app folder.
      x-stone-allow-app-folder: true
  /file_requests/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`list:2`, use this to paginate through all
            file requests. The cursor must come from a previous call to :route:`list:2` or
            :route:`list/continue`.
      operationId: list/continue
      security:
      - oauth2:
        - file_requests.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileRequestsContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsV2Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsContinueError'
      description: |-
        Once a cursor has been retrieved from :route:`list:2`, use this to paginate through all
            file requests. The cursor must come from a previous call to :route:`list:2` or
            :route:`list/continue`.
      x-stone-allow-app-folder: true
  /file_requests/list:
    post:
      summary: |-
        Returns a list of file requests owned by this user. For apps with the app
            folder permission, this will only return file requests with destinations in
            the app folder.
      operationId: list
      security:
      - oauth2:
        - file_requests.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsError'
      description: |-
        Returns a list of file requests owned by this user. For apps with the app
            folder permission, this will only return file requests with destinations in
            the app folder.
      x-stone-allow-app-folder: true
  /file_requests/get:
    post:
      summary: Returns the specified file request.
      operationId: get
      security:
      - oauth2:
        - file_requests.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileRequestError'
      description: Returns the specified file request.
      x-stone-allow-app-folder: true
  /file_requests/create:
    post:
      summary: Creates a file request for this user.
      operationId: create
      security:
      - oauth2:
        - file_requests.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFileRequestError'
      description: Creates a file request for this user.
      x-stone-allow-app-folder: true
  /file_requests/update:
    post:
      summary: Update a file request.
      operationId: update
      security:
      - oauth2:
        - file_requests.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFileRequestError'
      description: Update a file request.
      x-stone-allow-app-folder: true
  /file_requests/count:
    post:
      summary: |-
        Returns the total number of file requests owned by this user. Includes both open and
            closed file requests.
      operationId: count
      security:
      - oauth2:
        - file_requests.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountFileRequestsError'
      description: |-
        Returns the total number of file requests owned by this user. Includes both open and
            closed file requests.
      x-stone-allow-app-folder: true
  /file_requests/delete:
    post:
      summary: Delete a batch of closed file requests.
      operationId: delete
      security:
      - oauth2:
        - file_requests.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileRequestError'
      description: Delete a batch of closed file requests.
      x-stone-allow-app-folder: true
  /file_requests/delete_all_closed:
    post:
      summary: Delete all closed file requests owned by this user.
      operationId: delete_all_closed
      security:
      - oauth2:
        - file_requests.write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllClosedFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllClosedFileRequestsError'
      description: Delete all closed file requests owned by this user.
      x-stone-allow-app-folder: true
  /files/tags/add:
    post:
      summary: Add a tag to an item. A tag is a string. The strings are automatically converted to lowercase letters. No more than 20 tags can be added to a given item.
      operationId: tags/add
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTagError'
      description: Add a tag to an item. A tag is a string. The strings are automatically converted to lowercase letters. No more than 20 tags can be added to a given item.
      x-stone-auth: user
      x-stone-preview: true
  /files/tags/remove:
    post:
      summary: Remove a tag from an item.
      operationId: tags/remove
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTagArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveTagError'
      description: Remove a tag from an item.
      x-stone-auth: user
      x-stone-preview: true
  /files/tags/get:
    post:
      summary: Get list of tags assigned to items.
      operationId: tags/get
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTagsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseTagError'
      description: Get list of tags assigned to items.
      x-stone-auth: user
      x-stone-preview: true
  /files/get_metadata:
    post:
      summary: |-
        Returns the metadata for a file or folder. This is an alpha endpoint
            compatible with the properties API.

            Note: Metadata for the root folder is unsupported.
      operationId: get_metadata
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlphaGetMetadataArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlphaGetMetadataError'
      description: |-
        Returns the metadata for a file or folder. This is an alpha endpoint
            compatible with the properties API.

            Note: Metadata for the root folder is unsupported.
      x-stone-preview: true
      x-stone-allow-app-folder: true
  /files/list_folder/longpoll:
    post:
      summary: |-
        A longpoll endpoint to wait for changes on an account. In conjunction with
            :route:`list_folder/continue`, this call gives you a low-latency way to
            monitor an account for file changes. The connection will block until there
            are changes available or a timeout occurs. This endpoint is useful mostly
            for client-side apps. If you're looking for server-side notifications,
            check out our
            :link:`webhooks documentation https://www.dropbox.com/developers/reference/webhooks`.
      operationId: list_folder/longpoll
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderLongpollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderLongpollResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderLongpollError'
      servers:
      - url: https://notify.dropboxnotify.com/2
        description: Dropbox Notify Server
      description: |-
        A longpoll endpoint to wait for changes on an account. In conjunction with
            :route:`list_folder/continue`, this call gives you a low-latency way to
            monitor an account for file changes. The connection will block until there
            are changes available or a timeout occurs. This endpoint is useful mostly
            for client-side apps. If you're looking for server-side notifications,
            check out our
            :link:`webhooks documentation https://www.dropbox.com/developers/reference/webhooks`.
      x-stone-auth: noauth
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/list_folder:
    post:
      summary: |-
        Starts returning the contents of a folder. If the result's :field:`ListFolderResult.has_more`
            field is :val:`true`, call :route:`list_folder/continue` with the returned
            :field:`ListFolderResult.cursor` to retrieve more entries.

            If you're using :field:`ListFolderArg.recursive` set to :val:`true` to keep a local cache of
            the contents of a Dropbox account, iterate through each entry in order and process them as
            follows to keep your local state in sync:

            For each :type:`FileMetadata`, store the new entry at the given path in your local state. If the
            required parent folders don't exist yet, create them. If there's already something else at the
            given path, replace it and remove all its children.

            For each :type:`FolderMetadata`, store the new entry at the given path in your local state. If
            the required parent folders don't exist yet, create them. If there's already something else at
            the given path, replace it but leave the children as they are. Check the new entry's
            :field:`FolderSharingInfo.read_only` and set all its children's read-only statuses to match.

            For each :type:`DeletedMetadata`, if your local state has something at the given path, remove it
            and all its children. If there's nothing at the given path, ignore this entry.

            Note: :type:`auth.RateLimitError` may be returned if multiple :route:`list_folder` or
            :route:`list_folder/continue` calls with same parameters are made simultaneously by same
            API app for same user. If your app implements retry logic, please hold off the retry until
            the previous request finishes.
      operationId: list_folder
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderError'
      description: |-
        Starts returning the contents of a folder. If the result's :field:`ListFolderResult.has_more`
            field is :val:`true`, call :route:`list_folder/continue` with the returned
            :field:`ListFolderResult.cursor` to retrieve more entries.

            If you're using :field:`ListFolderArg.recursive` set to :val:`true` to keep a local cache of
            the contents of a Dropbox account, iterate through each entry in order and process them as
            follows to keep your local state in sync:

            For each :type:`FileMetadata`, store the new entry at the given path in your local state. If the
            required parent folders don't exist yet, create them. If there's already something else at the
            given path, replace it and remove all its children.

            For each :type:`FolderMetadata`, store the new entry at the given path in your local state. If
            the required parent folders don't exist yet, create them. If there's already something else at
            the given path, replace it but leave the children as they are. Check the new entry's
            :field:`FolderSharingInfo.read_only` and set all its children's read-only statuses to match.

            For each :type:`DeletedMetadata`, if your local state has something at the given path, remove it
            and all its children. If there's nothing at the given path, ignore this entry.

            Note: :type:`auth.RateLimitError` may be returned if multiple :route:`list_folder` or
            :route:`list_folder/continue` calls with same parameters are made simultaneously by same
            API app for same user. If your app implements retry logic, please hold off the retry until
            the previous request finishes.
      x-stone-auth: app, user
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/list_folder/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`list_folder`, use this to paginate through all
            files and retrieve updates to the folder, following the same rules as documented for
            :route:`list_folder`.
      operationId: list_folder/continue
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderContinueError'
      description: |-
        Once a cursor has been retrieved from :route:`list_folder`, use this to paginate through all
            files and retrieve updates to the folder, following the same rules as documented for
            :route:`list_folder`.
      x-stone-auth: app, user
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/list_folder/get_latest_cursor:
    post:
      summary: |-
        A way to quickly get a cursor for the folder's state. Unlike :route:`list_folder`,
            :route:`list_folder/get_latest_cursor` doesn't return any entries. This endpoint is for app
            which only needs to know about new files and modifications and doesn't need to know about
            files that already exist in Dropbox.
      operationId: list_folder/get_latest_cursor
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderGetLatestCursorResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderError'
      description: |-
        A way to quickly get a cursor for the folder's state. Unlike :route:`list_folder`,
            :route:`list_folder/get_latest_cursor` doesn't return any entries. This endpoint is for app
            which only needs to know about new files and modifications and doesn't need to know about
            files that already exist in Dropbox.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/download:
    post:
      summary: Download a file from a user's Dropbox.
      operationId: download
      security:
      - oauth2:
        - files.content.read
      responses:
        '200':
          description: Successful response with file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Dropbox-API-Result:
              description: The JSON metadata response encoded as a string in this header.
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadArg'
      description: 'Download a file from a user''s Dropbox. Download-style endpoint: Request has JSON parameters in Dropbox-API-Arg header. Response has JSON metadata in Dropbox-API-Result header and binary data in body.'
      x-stone-style: download
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/download_zip:
    post:
      summary: |-
        Download a folder from the user's Dropbox, as a zip file. The folder must be less than 20 GB
            in size and any single file within must be less than 4 GB in size. The resulting zip must have
            fewer than 10,000 total file and folder entries, including the top level folder. The input
            cannot be a single file.

            Note: this endpoint does not support HTTP range requests.
      operationId: download_zip
      security:
      - oauth2:
        - files.content.read
      responses:
        '200':
          description: Successful response with file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Dropbox-API-Result:
              description: The JSON metadata response encoded as a string in this header.
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/DownloadZipResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadZipError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadZipArg'
      description: |-
        Download a folder from the user's Dropbox, as a zip file. The folder must be less than 20 GB
            in size and any single file within must be less than 4 GB in size. The resulting zip must have
            fewer than 10,000 total file and folder entries, including the top level folder. The input
            cannot be a single file.

            Note: this endpoint does not support HTTP range requests. Download-style endpoint: Request has JSON parameters in Dropbox-API-Arg header. Response has JSON metadata in Dropbox-API-Result header and binary data in body.
      x-stone-style: download
      x-stone-allow-app-folder: true
  /files/export:
    post:
      summary: |-
        Export a file from a user's Dropbox. This route only supports exporting files that cannot be downloaded directly
             and whose :field:`ExportResult.file_metadata` has :field:`ExportInfo.export_as` populated.
      operationId: export
      security:
      - oauth2:
        - files.content.read
      responses:
        '200':
          description: Successful response with file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Dropbox-API-Result:
              description: The JSON metadata response encoded as a string in this header.
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/ExportResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportArg'
      description: |-
        Export a file from a user's Dropbox. This route only supports exporting files that cannot be downloaded directly
             and whose :field:`ExportResult.file_metadata` has :field:`ExportInfo.export_as` populated. Download-style endpoint: Request has JSON parameters in Dropbox-API-Arg header. Response has JSON metadata in Dropbox-API-Result header and binary data in body.
      x-stone-style: download
      x-stone-preview: true
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/upload_session/start_batch:
    post:
      summary: |-
        This route starts batch of upload_sessions. Please refer to `upload_session/start` usage.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page
            https://www.dropbox.com/developers/reference/data-transport-limit`.
      operationId: upload_session/start_batch
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSessionStartBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionStartBatchResult'
      description: |-
        This route starts batch of upload_sessions. Please refer to `upload_session/start` usage.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page
            https://www.dropbox.com/developers/reference/data-transport-limit`. RPC-style endpoint: Both request and response bodies are JSON.
      x-stone-style: rpc
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/upload_session/start:
    post:
      summary: |-
        Upload sessions allow you to upload a single file in one or more
            requests, for example where the size of the file is greater than 150
            MB.  This call starts a new upload session with the given data. You
            can then use :route:`upload_session/append:2` to add more data and
            :route:`upload_session/finish` to save all the data to a file in
            Dropbox.

            A single request should not upload more than 150 MB. The maximum size of
            a file one can upload to an upload session is 350 GB.

            An upload session can be used for a maximum of 7 days. Attempting
            to use an :field:`UploadSessionStartResult.session_id` with
            :route:`upload_session/append:2` or :route:`upload_session/finish` more
            than 7 days after its creation will return a
            :field:`UploadSessionLookupError.not_found`.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page
            https://www.dropbox.com/developers/reference/data-transport-limit`.

            By default, upload sessions require you to send content of the file in sequential order via
            consecutive :route:`upload_session/start`, :route:`upload_session/append:2`,
            :route:`upload_session/finish` calls. For better performance, you can instead optionally use
            a :field:`UploadSessionType.concurrent` upload session. To start a new concurrent session,
            set :field:`UploadSessionStartArg.session_type` to :field:`UploadSessionType.concurrent`.
            After that, you can send file data in concurrent :route:`upload_session/append:2` requests.
            Finally finish the session with :route:`upload_session/finish`.

            There are couple of constraints with concurrent sessions to make them work. You can not send
            data with :route:`upload_session/start` or :route:`upload_session/finish` call, only with
            :route:`upload_session/append:2` call. Also data uploaded in :route:`upload_session/append:2`
            call must be multiple of 4194304 bytes (except for last :route:`upload_session/append:2` with
            :field:`UploadSessionStartArg.close` to :val:`true`, that may contain any remaining data).
      operationId: upload_session/start
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionStartResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionStartError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSessionStartArg'
      description: |-
        Upload sessions allow you to upload a single file in one or more
            requests, for example where the size of the file is greater than 150
            MB.  This call starts a new upload session with the given data. You
            can then use :route:`upload_session/append:2` to add more data and
            :route:`upload_session/finish` to save all the data to a file in
            Dropbox.

            A single request should not upload more than 150 MB. The maximum size of
            a file one can upload to an upload session is 350 GB.

            An upload session can be used for a maximum of 7 days. Attempting
            to use an :field:`UploadSessionStartResult.session_id` with
            :route:`upload_session/append:2` or :route:`upload_session/finish` more
            than 7 days after its creation will return a
            :field:`UploadSessionLookupError.not_found`.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page
            https://www.dropbox.com/developers/reference/data-transport-limit`.

            By default, upload sessions require you to send content of the file in sequential order via
            consecutive :route:`upload_session/start`, :route:`upload_session/append:2`,
            :route:`upload_session/finish` calls. For better performance, you can instead optionally use
            a :field:`UploadSessionType.concurrent` upload session. To start a new concurrent session,
            set :field:`UploadSessionStartArg.session_type` to :field:`UploadSessionType.concurrent`.
            After that, you can send file data in concurrent :route:`upload_session/append:2` requests.
            Finally finish the session with :route:`upload_session/finish`.

            There are couple of constraints with concurrent sessions to make them work. You can not send
            data with :route:`upload_session/start` or :route:`upload_session/finish` call, only with
            :route:`upload_session/append:2` call. Also data uploaded in :route:`upload_session/append:2`
            call must be multiple of 4194304 bytes (except for last :route:`upload_session/append:2` with
            :field:`UploadSessionStartArg.close` to :val:`true`, that may contain any remaining data). Upload-style endpoint: Request has JSON parameters in Dropbox-API-Arg header and binary data in body. Response body is JSON.
      x-stone-style: upload
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/upload_session/append:2:
    post:
      summary: |-
        Append more data to an upload session.

            A single request should not upload more than 150 MB. The maximum size of
            a file one can upload to an upload session is 350 GB.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page https://www.dropbox.com/developers/reference/data-transport-limit`.
      operationId: upload_session/append:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionAppendError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSessionCursor'
      description: |-
        Append more data to an upload session.

            A single request should not upload more than 150 MB. The maximum size of
            a file one can upload to an upload session is 350 GB.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page https://www.dropbox.com/developers/reference/data-transport-limit`. Upload-style endpoint: Request has JSON parameters in Dropbox-API-Arg header and binary data in body. Response body is JSON.
      x-stone-style: upload
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/upload_session/finish:
    post:
      summary: |-
        Finish an upload session and save the uploaded data to the given file
            path.

            A single request should not upload more than 150 MB. The maximum size of
            a file one can upload to an upload session is 350 GB.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page https://www.dropbox.com/developers/reference/data-transport-limit`.
      operationId: upload_session/finish
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionFinishError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSessionFinishArg'
      description: |-
        Finish an upload session and save the uploaded data to the given file
            path.

            A single request should not upload more than 150 MB. The maximum size of
            a file one can upload to an upload session is 350 GB.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page https://www.dropbox.com/developers/reference/data-transport-limit`. Upload-style endpoint: Request has JSON parameters in Dropbox-API-Arg header and binary data in body. Response body is JSON.
      x-stone-style: upload
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/upload:
    post:
      summary: |-
        Create a new file with the contents provided in the request. Note that the
            behavior of this alpha endpoint is unstable and subject to change.

            Do not use this to upload a file larger than 150 MB. Instead, create an
            upload session with :route:`upload_session/start`.
      operationId: upload
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadArg'
      description: |-
        Create a new file with the contents provided in the request. Note that the
            behavior of this alpha endpoint is unstable and subject to change.

            Do not use this to upload a file larger than 150 MB. Instead, create an
            upload session with :route:`upload_session/start`. Upload-style endpoint: Request has JSON parameters in Dropbox-API-Arg header and binary data in body. Response body is JSON.
      x-stone-style: upload
      x-stone-preview: true
      x-stone-allow-app-folder: true
  /files/upload_session/finish_batch:2:
    post:
      summary: |-
        This route helps you commit many files at once into a user's Dropbox. Use
            :route:`upload_session/start` and :route:`upload_session/append:2` to
            upload file contents. We recommend uploading many files in parallel to increase
            throughput. Once the file contents have been uploaded, rather than calling
            :route:`upload_session/finish`, use this route to finish all your upload sessions
            in a single request.

            :field:`UploadSessionStartArg.close` or :field:`UploadSessionAppendArg.close`
            needs to be true for the last
            :route:`upload_session/start` or :route:`upload_session/append:2` call of each upload session. The maximum
            size of a file one can upload to an upload session is 350 GB.

            We allow up to 1000 entries in a single request.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page https://www.dropbox.com/developers/reference/data-transport-limit`.
      operationId: upload_session/finish_batch:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSessionFinishBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionFinishBatchResult'
      description: |-
        This route helps you commit many files at once into a user's Dropbox. Use
            :route:`upload_session/start` and :route:`upload_session/append:2` to
            upload file contents. We recommend uploading many files in parallel to increase
            throughput. Once the file contents have been uploaded, rather than calling
            :route:`upload_session/finish`, use this route to finish all your upload sessions
            in a single request.

            :field:`UploadSessionStartArg.close` or :field:`UploadSessionAppendArg.close`
            needs to be true for the last
            :route:`upload_session/start` or :route:`upload_session/append:2` call of each upload session. The maximum
            size of a file one can upload to an upload session is 350 GB.

            We allow up to 1000 entries in a single request.

            Calls to this endpoint will count as data transport calls for any Dropbox
            Business teams with a limit on the number of data transport calls allowed
            per month. For more information, see the :link:`Data transport limit page https://www.dropbox.com/developers/reference/data-transport-limit`.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/upload_session/finish_batch/check:
    post:
      summary: |-
        Returns the status of an asynchronous job for :route:`upload_session/finish_batch`. If
            success, it returns list of result for each entry.
      operationId: upload_session/finish_batch/check
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionFinishBatchJobStatus'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollError'
      description: |-
        Returns the status of an asynchronous job for :route:`upload_session/finish_batch`. If
            success, it returns list of result for each entry.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/search:2:
    post:
      summary: |-
        Searches for files and folders.

            Note: :route:`search:2` along with :route:`search/continue:2` can only be used to
            retrieve a maximum of 10,000 matches.

            Recent changes may not immediately be reflected in search results due to a short delay in indexing.
            Duplicate results may be returned across pages. Some results may not be returned.
      operationId: search:2
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchV2Arg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchV2Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchError'
      description: |-
        Searches for files and folders.

            Note: :route:`search:2` along with :route:`search/continue:2` can only be used to
            retrieve a maximum of 10,000 matches.

            Recent changes may not immediately be reflected in search results due to a short delay in indexing.
            Duplicate results may be returned across pages. Some results may not be returned.
      x-stone-allow-app-folder: true
  /files/search/continue:2:
    post:
      summary: |-
        Fetches the next page of search results returned from :route:`search:2`.

            Note: :route:`search:2` along with :route:`search/continue:2` can only be used to
            retrieve a maximum of 10,000 matches.

            Recent changes may not immediately be reflected in search results due to a short delay in indexing.
            Duplicate results may be returned across pages. Some results may not be returned.
      operationId: search/continue:2
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchV2ContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchV2Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchError'
      description: |-
        Fetches the next page of search results returned from :route:`search:2`.

            Note: :route:`search:2` along with :route:`search/continue:2` can only be used to
            retrieve a maximum of 10,000 matches.

            Recent changes may not immediately be reflected in search results due to a short delay in indexing.
            Duplicate results may be returned across pages. Some results may not be returned.
      x-stone-allow-app-folder: true
  /files/create_folder:2:
    post:
      summary: Create a folder at a given path.
      operationId: create_folder:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderError'
      description: Create a folder at a given path.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/create_folder_batch:
    post:
      summary: |-
        Create multiple folders at once.

            This route is asynchronous for large batches, which returns a job ID immediately and runs
            the create folder batch asynchronously. Otherwise, creates the folders and returns the result
            synchronously for smaller inputs. You can force asynchronous behaviour by using the
            :field:`CreateFolderBatchArg.force_async` flag.  Use :route:`create_folder_batch/check` to check
            the job status.
      operationId: create_folder_batch
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderBatchLaunch'
      description: |-
        Create multiple folders at once.

            This route is asynchronous for large batches, which returns a job ID immediately and runs
            the create folder batch asynchronously. Otherwise, creates the folders and returns the result
            synchronously for smaller inputs. You can force asynchronous behaviour by using the
            :field:`CreateFolderBatchArg.force_async` flag.  Use :route:`create_folder_batch/check` to check
            the job status.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/create_folder_batch/check:
    post:
      summary: |-
        Returns the status of an asynchronous job for :route:`create_folder_batch`. If
            success, it returns list of result for each entry.
      operationId: create_folder_batch/check
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderBatchJobStatus'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollError'
      description: |-
        Returns the status of an asynchronous job for :route:`create_folder_batch`. If
            success, it returns list of result for each entry.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/delete:2:
    post:
      summary: |-
        Delete the file or folder at a given path.

            If the path is a folder, all its contents will be deleted too.

            A successful response indicates that the file or folder was deleted. The returned metadata will
            be the corresponding :type:`FileMetadata` or :type:`FolderMetadata` for the item at time of
            deletion, and not a :type:`DeletedMetadata` object.
      operationId: delete:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteError'
      description: |-
        Delete the file or folder at a given path.

            If the path is a folder, all its contents will be deleted too.

            A successful response indicates that the file or folder was deleted. The returned metadata will
            be the corresponding :type:`FileMetadata` or :type:`FolderMetadata` for the item at time of
            deletion, and not a :type:`DeletedMetadata` object.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/delete_batch:
    post:
      summary: |-
        Delete multiple files/folders at once.

            This route is asynchronous, which returns a job ID immediately and runs
            the delete batch asynchronously. Use :route:`delete_batch/check` to check
            the job status.
      operationId: delete_batch
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBatchLaunch'
      description: |-
        Delete multiple files/folders at once.

            This route is asynchronous, which returns a job ID immediately and runs
            the delete batch asynchronously. Use :route:`delete_batch/check` to check
            the job status.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/delete_batch/check:
    post:
      summary: |-
        Returns the status of an asynchronous job for :route:`delete_batch`. If
            success, it returns list of result for each entry.
      operationId: delete_batch/check
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBatchJobStatus'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollError'
      description: |-
        Returns the status of an asynchronous job for :route:`delete_batch`. If
            success, it returns list of result for each entry.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/permanently_delete:
    post:
      summary: |-
        Permanently delete the file or folder at a given path
            (see https://www.dropbox.com/en/help/40).

            If the given file or folder is not yet deleted, this route will first delete it.
            It is possible for this route to successfully delete, then fail to permanently
            delete.

            Note: This endpoint is only available for Dropbox Business apps.
      operationId: permanently_delete
      security:
      - oauth2:
        - files.permanent_delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteError'
      description: |-
        Permanently delete the file or folder at a given path
            (see https://www.dropbox.com/en/help/40).

            If the given file or folder is not yet deleted, this route will first delete it.
            It is possible for this route to successfully delete, then fail to permanently
            delete.

            Note: This endpoint is only available for Dropbox Business apps.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/copy:2:
    post:
      summary: |-
        Copy a file or folder to a different location in the user's Dropbox.

            If the source path is a folder all its contents will be copied.
      operationId: copy:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationError'
      description: |-
        Copy a file or folder to a different location in the user's Dropbox.

            If the source path is a folder all its contents will be copied.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/copy_batch:2:
    post:
      summary: |-
        Copy multiple files or folders to different locations at once in the
            user's Dropbox.

            This route will return job ID immediately and do the async copy job in
            background. Please use :route:`copy_batch/check:1` to check the job status.
      operationId: copy_batch:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationBatchLaunch'
      description: |-
        Copy multiple files or folders to different locations at once in the
            user's Dropbox.

            This route will return job ID immediately and do the async copy job in
            background. Please use :route:`copy_batch/check:1` to check the job status.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/copy_batch/check:2:
    post:
      summary: |-
        Returns the status of an asynchronous job for :route:`copy_batch:1`. If
            success, it returns list of results for each entry.
      operationId: copy_batch/check:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationBatchJobStatus'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollError'
      description: |-
        Returns the status of an asynchronous job for :route:`copy_batch:1`. If
            success, it returns list of results for each entry.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/move:2:
    post:
      summary: |-
        Move a file or folder to a different location in the user's Dropbox.

            If the source path is a folder all its contents will be moved.
      operationId: move:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationError'
      description: |-
        Move a file or folder to a different location in the user's Dropbox.

            If the source path is a folder all its contents will be moved.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/move_batch:2:
    post:
      summary: |-
        Move multiple files or folders to different locations at once in the
            user's Dropbox.

            This route will return job ID immediately and do the async moving job in
            background. Please use :route:`move_batch/check:1` to check the job status.
      operationId: move_batch:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationBatchLaunch'
      description: |-
        Move multiple files or folders to different locations at once in the
            user's Dropbox.

            This route will return job ID immediately and do the async moving job in
            background. Please use :route:`move_batch/check:1` to check the job status.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/move_batch/check:2:
    post:
      summary: |-
        Returns the status of an asynchronous job for :route:`move_batch:1`. If
            success, it returns list of results for each entry.
      operationId: move_batch/check:2
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationBatchJobStatus'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollError'
      description: |-
        Returns the status of an asynchronous job for :route:`move_batch:1`. If
            success, it returns list of results for each entry.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/get_thumbnail:
    post:
      summary: |-
        Get a thumbnail for an image.

            This method currently supports files with the following file extensions:
            jpg, jpeg, png, tiff, tif, gif, webp, ppm and bmp. Photos that are larger than 20MB
            in size won't be converted to a thumbnail.
      operationId: get_thumbnail
      security:
      - oauth2:
        - files.content.read
      responses:
        '200':
          description: Successful response with file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Dropbox-API-Result:
              description: The JSON metadata response encoded as a string in this header.
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThumbnailError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThumbnailArg'
      description: |-
        Get a thumbnail for an image.

            This method currently supports files with the following file extensions:
            jpg, jpeg, png, tiff, tif, gif, webp, ppm and bmp. Photos that are larger than 20MB
            in size won't be converted to a thumbnail. Download-style endpoint: Request has JSON parameters in Dropbox-API-Arg header. Response has JSON metadata in Dropbox-API-Result header and binary data in body.
      x-stone-style: download
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/get_thumbnail_batch:
    post:
      summary: |-
        Get thumbnails for a list of images. We allow up to 25 thumbnails in a single batch.

            This method currently supports files with the following file extensions:
            jpg, jpeg, png, tiff, tif, gif, webp, ppm and bmp. Photos that are larger than 20MB
            in size won't be converted to a thumbnail.
      operationId: get_thumbnail_batch
      security:
      - oauth2:
        - files.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetThumbnailBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThumbnailBatchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThumbnailBatchError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      description: |-
        Get thumbnails for a list of images. We allow up to 25 thumbnails in a single batch.

            This method currently supports files with the following file extensions:
            jpg, jpeg, png, tiff, tif, gif, webp, ppm and bmp. Photos that are larger than 20MB
            in size won't be converted to a thumbnail.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/get_thumbnail:2:
    post:
      summary: |-
        Get a thumbnail for an image.

            This method currently supports files with the following file extensions:
            jpg, jpeg, png, tiff, tif, gif, webp, ppm and bmp. Photos that are larger than 20MB
            in size won't be converted to a thumbnail.
      operationId: get_thumbnail:2
      security:
      - oauth2:
        - files.content.read
      responses:
        '200':
          description: Successful response with file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Dropbox-API-Result:
              description: The JSON metadata response encoded as a string in this header.
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/PreviewResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThumbnailV2Error'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThumbnailV2Arg'
      description: |-
        Get a thumbnail for an image.

            This method currently supports files with the following file extensions:
            jpg, jpeg, png, tiff, tif, gif, webp, ppm and bmp. Photos that are larger than 20MB
            in size won't be converted to a thumbnail. Download-style endpoint: Request has JSON parameters in Dropbox-API-Arg header. Response has JSON metadata in Dropbox-API-Result header and binary data in body.
      x-stone-auth: app, user
      x-stone-style: download
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/get_preview:
    post:
      summary: |-
        Get a preview for a file.

            Currently, PDF previews are generated for files with the following extensions:
            .ai, .doc, .docm, .docx, .eps, .gdoc, .gslides, .odp, .odt, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx, .rtf.

            HTML previews are generated for files with the following extensions: .csv, .ods, .xls, .xlsm, .gsheet, .xlsx.

            Other formats will return an unsupported extension error.
      operationId: get_preview
      security:
      - oauth2:
        - files.content.read
      responses:
        '200':
          description: Successful response with file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Dropbox-API-Result:
              description: The JSON metadata response encoded as a string in this header.
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewError'
      servers:
      - url: https://content.dropboxcontent.com/2
        description: Dropbox Content Server
      parameters:
      - name: Dropbox-API-Arg
        in: header
        description: The request parameters as a JSON encoded string in this header.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewArg'
      description: |-
        Get a preview for a file.

            Currently, PDF previews are generated for files with the following extensions:
            .ai, .doc, .docm, .docx, .eps, .gdoc, .gslides, .odp, .odt, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx, .rtf.

            HTML previews are generated for files with the following extensions: .csv, .ods, .xls, .xlsm, .gsheet, .xlsx.

            Other formats will return an unsupported extension error. Download-style endpoint: Request has JSON parameters in Dropbox-API-Arg header. Response has JSON metadata in Dropbox-API-Result header and binary data in body.
      x-stone-style: download
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/list_revisions:
    post:
      summary: |-
        Returns revisions for files based on a file path or a file id. The file path or file id is
            identified from the latest file entry at the given file path or id. This end point allows your
            app to query either by file path or file id by setting the mode parameter appropriately.

            In the :field:`ListRevisionsMode.path` (default) mode, all revisions at the same
            file path as the latest file entry are
            returned. If revisions with the same file id are desired, then mode must be set to
            :field:`ListRevisionsMode.id`. The :field:`ListRevisionsMode.id` mode is useful to retrieve
            revisions for a given file across moves or renames.
      operationId: list_revisions
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRevisionsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRevisionsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRevisionsError'
      description: |-
        Returns revisions for files based on a file path or a file id. The file path or file id is
            identified from the latest file entry at the given file path or id. This end point allows your
            app to query either by file path or file id by setting the mode parameter appropriately.

            In the :field:`ListRevisionsMode.path` (default) mode, all revisions at the same
            file path as the latest file entry are
            returned. If revisions with the same file id are desired, then mode must be set to
            :field:`ListRevisionsMode.id`. The :field:`ListRevisionsMode.id` mode is useful to retrieve
            revisions for a given file across moves or renames.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: whole_team
  /files/restore:
    post:
      summary: Restore a specific revision of a file to the given path.
      operationId: restore
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreError'
      description: Restore a specific revision of a file to the given path.
      x-stone-allow-app-folder: true
      x-stone-select-admin-mode: team_admin
  /files/get_temporary_link:
    post:
      summary: |-
        Get a temporary link to stream content of a file. This link will expire in four hours and
            afterwards you will get 410 Gone. This URL should not be used to display content directly
            in the browser. The Content-Type of the link is determined automatically by the file's mime type.
      operationId: get_temporary_link
      security:
      - oauth2:
        - files.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTemporaryLinkArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemporaryLinkResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemporaryLinkError'
      description: |-
        Get a temporary link to stream content of a file. This link will expire in four hours and
            afterwards you will get 410 Gone. This URL should not be used to display content directly
            in the browser. The Content-Type of the link is determined automatically by the file's mime type.
      x-stone-allow-app-folder: true
  /files/get_temporary_upload_link:
    post:
[...]
