openapi: 3.0.3
info:
  title: Dropbox API
  description: Dropbox API v2 - Combined from multiple Stone definitions
  version: '2.0'
  contact:
    name: Dropbox API
    url: https://www.dropbox.com/developers
servers:
- url: https://api.dropboxapi.com/2
  description: Dropbox API v2
paths:
  /users/get_account:
    post:
      summary: Get information about a user's account.
      operationId: get_account
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAccount'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountError'
  /users/get_current_account:
    post:
      summary: Get information about the current user's account.
      operationId: get_current_account
      security:
      - oauth2:
        - account_info.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullAccount'
  /users/get_space_usage:
    post:
      summary: Get the space usage information for the current user's account.
      operationId: get_space_usage
      security:
      - oauth2:
        - account_info.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceUsage'
  /users/get_account_batch:
    post:
      summary: |-
        Get information about multiple user accounts.  At most 300 accounts may be queried
            per request.
      operationId: get_account_batch
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountBatchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountBatchError'
  /users/features/get_values:
    post:
      summary: Get a list of feature values that may be configured for the current account.
      operationId: features/get_values
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserFeaturesGetValuesBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFeaturesGetValuesBatchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFeaturesGetValuesBatchError'
  /team/devices/list_member_devices:
    post:
      summary: List all device sessions of a team's member.
      operationId: devices/list_member_devices
      security:
      - oauth2:
        - sessions.list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMemberDevicesArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberDevicesResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberDevicesError'
  /team/devices/list_members_devices:
    post:
      summary: |-
        List all device sessions of a team.

            Permission : Team member file access.
      operationId: devices/list_members_devices
      security:
      - oauth2:
        - sessions.list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTeamDevicesArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamDevicesResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamDevicesError'
  /team/devices/revoke_device_session:
    post:
      summary: Revoke a device session of a team's member.
      operationId: devices/revoke_device_session
      security:
      - oauth2:
        - sessions.modify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeDeviceSessionArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeDeviceSessionError'
  /team/devices/revoke_device_session_batch:
    post:
      summary: Revoke a list of device sessions of team members.
      operationId: devices/revoke_device_session_batch
      security:
      - oauth2:
        - sessions.modify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeDeviceSessionBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeDeviceSessionBatchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeDeviceSessionBatchError'
  /team/groups/list:
    post:
      summary: |-
        Lists groups on a team.

            Permission : Team Information.
      operationId: groups/list
      security:
      - oauth2:
        - groups.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsListArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsListResult'
  /team/groups/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`groups/list`, use this to paginate
            through all groups.

            Permission : Team Information.
      operationId: groups/list/continue
      security:
      - oauth2:
        - groups.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsListContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsListContinueError'
  /team/groups/get_info:
    post:
      summary: |-
        Retrieves information about one or more groups. Note that the optional field
             :field:`GroupFullInfo.members` is not returned for system-managed groups.

            Permission : Team Information.
      operationId: groups/get_info
      security:
      - oauth2:
        - groups.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsSelector'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetInfoResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetInfoError'
  /team/groups/create:
    post:
      summary: |-
        Creates a new, empty group, with a requested name.

            Permission : Team member management.
      operationId: groups/create
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFullInfo'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCreateError'
  /team/groups/delete:
    post:
      summary: |-
        Deletes a group.

            The group is deleted immediately. However the revoking of group-owned resources
            may take additional time.
            Use the :route:`groups/job_status/get` to determine whether this process has completed.

            Permission : Team member management.
      operationId: groups/delete
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSelector'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncLaunchEmptyResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDeleteError'
  /team/groups/update:
    post:
      summary: |-
        Updates a group's name and/or external ID.

            Permission : Team member management.
      operationId: groups/update
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFullInfo'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUpdateError'
  /team/groups/members/add:
    post:
      summary: |-
        Adds members to a group.

            The members are added immediately. However the granting of group-owned resources
            may take additional time.
            Use the :route:`groups/job_status/get` to determine whether this process has completed.

            Permission : Team member management.
      operationId: groups/members/add
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMembersAddArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembersChangeResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembersAddError'
  /team/groups/members/remove:
    post:
      summary: |-
        Removes members from a group.

            The members are removed immediately. However the revoking of group-owned resources
            may take additional time.
            Use the :route:`groups/job_status/get` to determine whether this process has completed.

            This method permits removing the only owner of a group, even in cases where this is not
            possible via the web client.

            Permission : Team member management.
      operationId: groups/members/remove
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMembersRemoveArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembersChangeResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembersRemoveError'
  /team/groups/members/set_access_type:
    post:
      summary: |-
        Sets a member's access type in a group.

            Permission : Team member management.
      operationId: groups/members/set_access_type
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMembersSetAccessTypeArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetInfoResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberSetAccessTypeError'
  /team/groups/members/list:
    post:
      summary: |-
        Lists members of a group.

            Permission : Team Information.
      operationId: groups/members/list
      security:
      - oauth2:
        - groups.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsMembersListArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsMembersListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSelectorError'
  /team/groups/members/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`groups/members/list`, use this to paginate
            through all members of the group.

            Permission : Team information.
      operationId: groups/members/list/continue
      security:
      - oauth2:
        - groups.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsMembersListContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsMembersListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsMembersListContinueError'
  /team/groups/job_status/get:
    post:
      summary: |-
        Once an async_job_id is returned from :route:`groups/delete`,
            :route:`groups/members/add` , or :route:`groups/members/remove`
            use this method to poll the status of granting/revoking
            group members' access to group-owned resources.

            Permission : Team member management.
      operationId: groups/job_status/get
      security:
      - oauth2:
        - groups.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollEmptyResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsPollError'
  /check/user:
    post:
      summary: |-
        This endpoint performs User Authentication, validating the supplied access token,
            and returns the supplied string, to allow you to test your code and connection to the
            Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied
            query, it indicates at least part of the Dropbox API infrastructure is working and that the
            access token is valid.
      operationId: user
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchoArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResult'
  /check/app:
    post:
      summary: |-
        This endpoint performs App Authentication, validating the supplied app key and secret,
            and returns the supplied string, to allow you to test your code and connection to the
            Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied
            query, it indicates at least part of the Dropbox API infrastructure is working and that the
            app key and secret valid.
      operationId: app
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchoArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResult'
  /openid/userinfo:
    post:
      summary: |-
        This route is used for refreshing the info that is found in the id_token during the OIDC flow.
            This route doesn't require any arguments and will use the scopes approved for the given access token.
      operationId: userinfo
      security:
      - oauth2:
        - openid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfoArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoError'
  /sharing/add_file_member:
    post:
      summary: Adds specified members to a file.
      operationId: add_file_member
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFileMemberArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List(FileMemberActionResult)'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddFileMemberError'
  /sharing/update_file_member:
    post:
      summary: Changes a member's access on a shared file.
      operationId: update_file_member
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileMemberArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberAccessLevelResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMemberActionError'
  /sharing/get_file_metadata:
    post:
      summary: Returns shared file metadata.
      operationId: get_file_metadata
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFileMetadataArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedFileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileMetadataError'
  /sharing/get_file_metadata/batch:
    post:
      summary: Returns shared file metadata.
      operationId: get_file_metadata/batch
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFileMetadataBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List(GetFileMetadataBatchResult)'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingUserError'
  /sharing/list_file_members:
    post:
      summary: |-
        Use to obtain the members who have been invited to a file, both inherited
            and uninherited members.
      operationId: list_file_members
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileMembersArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedFileMembers'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileMembersError'
  /sharing/list_file_members/batch:
    post:
      summary: |-
        Get members of multiple files at once. The arguments
            to this route are more limited, and the limit on query result size per file
            is more strict. To customize the results more, use the individual file
            endpoint.

            Inherited users and groups are not included in the result, and permissions are not
            returned for this endpoint.
      operationId: list_file_members/batch
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileMembersBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List(ListFileMembersBatchResult)'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingUserError'
  /sharing/list_file_members/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`list_file_members` or
            :route:`list_file_members/batch`, use this to paginate through all shared
            file members.
      operationId: list_file_members/continue
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileMembersContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedFileMembers'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileMembersContinueError'
  /sharing/list_received_files:
    post:
      summary: |-
        Returns a list of all files shared with current user.

             Does not include files the user has received via shared folders, and does
             not include unclaimed invitations.
      operationId: list_received_files
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFilesArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingUserError'
  /sharing/list_received_files/continue:
    post:
      summary: Get more results with a cursor from :route:`list_received_files`.
      operationId: list_received_files/continue
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFilesContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesContinueError'
  /sharing/remove_file_member_2:
    post:
      summary: Removes a specified member from the file.
      operationId: remove_file_member_2
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveFileMemberArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMemberRemoveActionResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveFileMemberError'
  /sharing/relinquish_file_membership:
    post:
      summary: |-
        The current user relinquishes their membership in the designated file.
            Note that the current user may still have inherited access to this file
            through the parent folder.
      operationId: relinquish_file_membership
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelinquishFileMembershipArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelinquishFileMembershipError'
  /sharing/unshare_file:
    post:
      summary: Remove all members from this file. Does not remove inherited members.
      operationId: unshare_file
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnshareFileArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnshareFileError'
  /team/linked_apps/list_member_linked_apps:
    post:
      summary: |-
        List all linked applications of the team member.

            Note, this endpoint does not list any team-linked applications.
      operationId: linked_apps/list_member_linked_apps
      security:
      - oauth2:
        - sessions.list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMemberAppsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberAppsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberAppsError'
  /team/linked_apps/list_members_linked_apps:
    post:
      summary: |-
        List all applications linked to the team members' accounts.

            Note, this endpoint doesn't list any team-linked applications.
      operationId: linked_apps/list_members_linked_apps
      security:
      - oauth2:
        - sessions.list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTeamAppsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamAppsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamAppsError'
  /team/linked_apps/revoke_linked_app:
    post:
      summary: Revoke a linked application of the team member.
      operationId: linked_apps/revoke_linked_app
      security:
      - oauth2:
        - sessions.modify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeLinkedApiAppArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeLinkedAppError'
  /team/linked_apps/revoke_linked_app_batch:
    post:
      summary: Revoke a list of linked applications of the team members.
      operationId: linked_apps/revoke_linked_app_batch
      security:
      - oauth2:
        - sessions.modify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeLinkedApiAppBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeLinkedAppBatchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeLinkedAppBatchError'
  /team_log/get_events:
    post:
      summary: |-
        Retrieves team events. If the result's :field:`GetTeamEventsResult.has_more` field is
            :val:`true`, call :route:`get_events/continue` with the returned cursor to retrieve
            more entries. If end_time is not specified in your request, you may use the returned cursor to
            poll :route:`get_events/continue` for new events.

            Many attributes note 'may be missing due to historical data gap'.

            Note that the file_operations category and & analogous paper events are not available on all
            Dropbox Business :link:`plans /business/plans-comparison`.
            Use :link:`features/get_values /developers/documentation/http/teams#team-features-get_values`
            to check for this feature.

            Permission : Team Auditing.
      operationId: get_events
      security:
      - oauth2:
        - events.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTeamEventsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamEventsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamEventsError'
  /team_log/get_events/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`get_events`, use this to paginate through all events.

            Permission : Team Auditing.
      operationId: get_events/continue
      security:
      - oauth2:
        - events.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTeamEventsContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamEventsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamEventsContinueError'
  /team/team_folder/create:
    post:
      summary: |-
        Creates a new, active, team folder with no members. This endpoint can only be used for teams
            that do not already have a shared team space.

            Permission : Team member file access.
      operationId: team_folder/create
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderCreateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderCreateError'
  /team/team_folder/rename:
    post:
      summary: |-
        Changes an active team folder's name.

            Permission : Team member file access.
      operationId: team_folder/rename
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderRenameArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderRenameError'
  /team/team_folder/list:
    post:
      summary: |-
        Lists all team folders.

            Permission : Team member file access.
      operationId: team_folder/list
      security:
      - oauth2:
        - team_data.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderListArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderListError'
  /team/team_folder/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`team_folder/list`, use this to paginate
            through all team folders.

            Permission : Team member file access.
      operationId: team_folder/list/continue
      security:
      - oauth2:
        - team_data.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderListContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderListContinueError'
  /team/team_folder/get_info:
    post:
      summary: |-
        Retrieves metadata for team folders.

            Permission : Team member file access.
      operationId: team_folder/get_info
      security:
      - oauth2:
        - team_data.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderIdListArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List(TeamFolderGetInfoItem)'
  /team/team_folder/activate:
    post:
      summary: |-
        Sets an archived team folder's status to active.

            Permission : Team member file access.
      operationId: team_folder/activate
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderIdArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderActivateError'
  /team/team_folder/archive:
    post:
      summary: |-
        Sets an active team folder's status to archived and removes all folder and file members.
            This endpoint cannot be used for teams that have a shared team space.

            Permission : Team member file access.
      operationId: team_folder/archive
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderArchiveArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderArchiveLaunch'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderArchiveError'
  /team/team_folder/archive/check:
    post:
      summary: |-
        Returns the status of an asynchronous job for archiving a team folder.

            Permission : Team member file access.
      operationId: team_folder/archive/check
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asyncPollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderArchiveJobStatus'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncPollError'
  /team/team_folder/permanently_delete:
    post:
      summary: |-
        Permanently deletes an archived team folder. This endpoint cannot be used for teams
            that have a shared team space.

            Permission : Team member file access.
      operationId: team_folder/permanently_delete
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderIdArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderPermanentlyDeleteError'
  /team/team_folder/update_sync_settings:
    post:
      summary: Updates the sync settings on a team folder or its contents.  Use of this endpoint requires that the team has team selective sync enabled.
      operationId: team_folder/update_sync_settings
      security:
      - oauth2:
        - team_data.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamFolderUpdateSyncSettingsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamFolderUpdateSyncSettingsError'
  /files/tags/add:
    post:
      summary: Add a tag to an item. A tag is a string. The strings are automatically converted to lowercase letters. No more than 20 tags can be added to a given item.
      operationId: tags/add
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTagError'
  /files/tags/remove:
    post:
      summary: Remove a tag from an item.
      operationId: tags/remove
      security:
      - oauth2:
        - files.metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTagArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveTagError'
  /files/tags/get:
    post:
      summary: Get list of tags assigned to items.
      operationId: tags/get
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTagsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseTagError'
  /auth/token/revoke:
    post:
      summary: |-
        Disables the access token used to authenticate the call.
            If there is a corresponding refresh token for the access token,
            this disables that refresh token, as well as any other access tokens for that refresh token.
      operationId: token/revoke
      security:
      - oauth2:
        - account_info.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
  /auth/token/from_oauth1:
    post:
      summary: Creates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.
      operationId: token/from_oauth1
      security:
      - oauth2:
        - account_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenFromOAuth1Arg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenFromOAuth1Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenFromOAuth1Error'
  /file_requests/list:2:
    post:
      summary: |-
        Returns a list of file requests owned by this user. For apps with the app
            folder permission, this will only return file requests with destinations in
            the app folder.
      operationId: list:2
      security:
      - oauth2:
        - file_requests.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileRequestsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsV2Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsError'
  /file_requests/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`list:2`, use this to paginate through all
            file requests. The cursor must come from a previous call to :route:`list:2` or
            :route:`list/continue`.
      operationId: list/continue
      security:
      - oauth2:
        - file_requests.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileRequestsContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsV2Result'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsContinueError'
  /file_requests/list:
    post:
      summary: |-
        Returns a list of file requests owned by this user. For apps with the app
            folder permission, this will only return file requests with destinations in
            the app folder.
      operationId: list
      security:
      - oauth2:
        - file_requests.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsError'
  /file_requests/get:
    post:
      summary: Returns the specified file request.
      operationId: get
      security:
      - oauth2:
        - file_requests.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileRequestError'
  /file_requests/create:
    post:
      summary: Creates a file request for this user.
      operationId: create
      security:
      - oauth2:
        - file_requests.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFileRequestError'
  /file_requests/update:
    post:
      summary: Update a file request.
      operationId: update
      security:
      - oauth2:
        - file_requests.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFileRequestError'
  /file_requests/count:
    post:
      summary: |-
        Returns the total number of file requests owned by this user. Includes both open and
            closed file requests.
      operationId: count
      security:
      - oauth2:
        - file_requests.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountFileRequestsError'
  /file_requests/delete:
    post:
      summary: Delete a batch of closed file requests.
      operationId: delete
      security:
      - oauth2:
        - file_requests.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteFileRequestArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileRequestError'
  /file_requests/delete_all_closed:
    post:
      summary: Delete all closed file requests owned by this user.
      operationId: delete_all_closed
      security:
      - oauth2:
        - file_requests.write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllClosedFileRequestsResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllClosedFileRequestsError'
  /paper/docs/folder_users/list:
    post:
      summary: |-
        Lists the users who are explicitly invited to the Paper folder in which the Paper doc
            is contained. For private folders all users (including owner) shared on the folder
            are listed and for team folders all non-team users shared on the folder are returned.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/folder_users/list
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUsersOnFolderArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersOnFolderResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/folder_users/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`docs/folder_users/list`, use this to
            paginate through all users on the Paper folder.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/folder_users/list/continue
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUsersOnFolderContinueArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersOnFolderResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersCursorError'
  /paper/docs/sharing_policy/get:
    post:
      summary: |-
        Gets the default sharing policy for the given Paper doc.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/sharing_policy/get
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefPaperDoc'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingPolicy'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/sharing_policy/set:
    post:
      summary: |-
        Sets the default sharing policy for the given Paper doc. The default 'team_sharing_policy'
            can be changed only by teams, omit this field for personal accounts.

            The 'public_sharing_policy' policy can't be set to the value 'disabled' because this setting
            can be changed only via the team admin console.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/sharing_policy/set
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperDocSharingPolicy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/archive:
    post:
      summary: |-
        Marks the given Paper doc as archived.

            This action can be performed or undone by anyone with edit permissions to the doc.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            This endpoint will be retired in September 2020. Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for more information.
      operationId: docs/archive
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefPaperDoc'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/permanently_delete:
    post:
      summary: |-
        Permanently deletes the given Paper doc. This operation is final as the doc
            cannot be recovered.

            This action can be performed only by the doc owner.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/permanently_delete
      security:
      - oauth2:
        - files.permanent_delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefPaperDoc'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/download:
    post:
      summary: |-
        Exports and downloads Paper doc either as HTML or markdown.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/download
      security:
      - oauth2:
        - files.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperDocExport'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDocExportResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/get_folder_info:
    post:
      summary: |-
        Retrieves folder information for the given Paper doc. This includes:

              - folder sharing policy; permissions for subfolders are set by the top-level folder.

              - full 'filepath', i.e. the list of folders (both folderId and folderName) from
                the root folder to the folder directly containing the Paper doc.


            If the Paper doc is not in any folder (aka unfiled) the response will be empty.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/get_folder_info
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefPaperDoc'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoldersContainingPaperDoc'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/users/add:
    post:
      summary: |-
        Allows an owner or editor to add users to a Paper doc or change their permissions
            using their email address or Dropbox account ID.

            The doc owner's permissions cannot be changed.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/users/add
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPaperDocUser'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List(AddPaperDocUserMemberResult)'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/users/remove:
    post:
      summary: |-
        Allows an owner or editor to remove users from a Paper doc using their email address or
            Dropbox account ID.

            The doc owner cannot be removed.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/users/remove
      security:
      - oauth2:
        - sharing.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePaperDocUser'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/users/list:
    post:
      summary: |-
        Lists all users who visited the Paper doc or users with explicit access. This call
            excludes users who have been removed. The list is sorted by the date of the visit or
            the share date.

            The list will include both users, the explicitly shared ones as well as those
            who came in using the Paper url link.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/users/list
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUsersOnPaperDocArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersOnPaperDocResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocLookupError'
  /paper/docs/users/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`docs/users/list`, use this to
            paginate through all users on the Paper doc.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/users/list/continue
      security:
      - oauth2:
        - sharing.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUsersOnPaperDocContinueArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersOnPaperDocResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersCursorError'
  /paper/docs/list:
    post:
      summary: |-
        Return the list of all Paper docs according to the argument specifications. To iterate
            over through the full pagination, pass the cursor to :route:`docs/list/continue`.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/list
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPaperDocsArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaperDocsResponse'
  /paper/docs/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`docs/list`, use this to
            paginate through all Paper doc.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: docs/list/continue
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPaperDocsContinueArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaperDocsResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocsCursorError'
  /paper/docs/create:
    post:
      summary: |-
        Creates a new Paper doc with the provided content.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            This endpoint will be retired in September 2020. Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for more information.
      operationId: docs/create
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperDocCreateArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDocCreateUpdateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDocCreateError'
  /paper/docs/update:
    post:
      summary: |-
        Updates an existing Paper doc with the provided content.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            This endpoint will be retired in September 2020. Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for more information.
      operationId: docs/update
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperDocUpdateArgs'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDocCreateUpdateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDocUpdateError'
  /paper/folders/create:
    post:
      summary: |-
        Create a new Paper folder with the provided info.

            Note that this endpoint will continue to work for content created by users on the older version of Paper. To check which version of Paper a user is on, use /users/features/get_values. If the paper_as_files feature is enabled, then the user is running the new version of Paper.

            Refer to the :link:`Paper Migration Guide https://www.dropbox.com/lp/developers/reference/paper-migration-guide` for migration information.
      operationId: folders/create
      security:
      - oauth2:
        - files.content.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperFolderCreateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperFolderCreateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperFolderCreateError'
  /team/namespaces/list:
    post:
      summary: |-
        Returns a list of all team-accessible namespaces. This list includes team folders,
            shared folders containing team members, team members' home namespaces, and team members'
            app folders. Home namespaces and app folders are always owned by this team or members of the
            team, but shared folders may be owned by other users or other teams. Duplicates may occur in the
            list.
      operationId: namespaces/list
      security:
      - oauth2:
        - team_data.member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamNamespacesListArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNamespacesListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNamespacesListError'
  /team/namespaces/list/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`namespaces/list`, use this to paginate
            through all team-accessible namespaces. Duplicates may occur in the list.
      operationId: namespaces/list/continue
      security:
      - oauth2:
        - team_data.member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamNamespacesListContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNamespacesListResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNamespacesListContinueError'
  /team/get_info:
    post:
      summary: Retrieves information about a team.
      operationId: get_info
      security:
      - oauth2:
        - team_info.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetInfoResult'
  /team/token/get_authenticated_admin:
    post:
      summary: Returns the member profile of the admin who generated the team access token used to make the call.
      operationId: token/get_authenticated_admin
      security:
      - oauth2:
        - team_info.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenGetAuthenticatedAdminResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenGetAuthenticatedAdminError'
  /team/features/get_values:
    post:
      summary: |-
        Get the values for one or more featues. This route allows you to check your account's
            capability for what feature you can access or what value you have for certain features.

            Permission : Team information.
      operationId: features/get_values
      security:
      - oauth2:
        - team_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesGetValuesBatchArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesGetValuesBatchResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesGetValuesBatchError'
  /team/properties/template/add:
    post:
      summary: 'Permission : Team member file access.'
      operationId: properties/template/add
      security:
      - oauth2:
        - files.team_metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filepropertiesAddTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesAddTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesModifyTemplateError'
  /team/properties/template/update:
    post:
      summary: 'Permission : Team member file access.'
      operationId: properties/template/update
      security:
      - oauth2:
        - files.team_metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filepropertiesUpdateTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesUpdateTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesModifyTemplateError'
  /team/properties/template/get:
    post:
      summary: 'Permission : Team member file access. The scope for the route is files.team_metadata.write.'
      operationId: properties/template/get
      security:
      - oauth2:
        - files.team_metadata.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filepropertiesGetTemplateArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesGetTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesTemplateError'
  /team/properties/template/list:
    post:
      summary: 'Permission : Team member file access. The scope for the route is files.team_metadata.write.'
      operationId: properties/template/list
      security:
      - oauth2:
        - files.team_metadata.write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesListTemplateResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filepropertiesTemplateError'
  /team/reports/get_storage:
    post:
      summary: |-
        Retrieves reporting data about a team's storage usage.
            Deprecated: Will be removed on July 1st 2021.
      operationId: reports/get_storage
      security:
      - oauth2:
        - team_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateRange'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStorageReport'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRangeError'
  /team/reports/get_activity:
    post:
      summary: |-
        Retrieves reporting data about a team's user activity.
            Deprecated: Will be removed on July 1st 2021.
      operationId: reports/get_activity
      security:
      - oauth2:
        - team_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateRange'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivityReport'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRangeError'
  /team/reports/get_membership:
    post:
      summary: |-
        Retrieves reporting data about a team's membership.
            Deprecated: Will be removed on July 1st 2021.
      operationId: reports/get_membership
      security:
      - oauth2:
        - team_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateRange'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMembershipReport'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRangeError'
  /team/reports/get_devices:
    post:
      summary: |-
        Retrieves reporting data about a team's linked devices.
            Deprecated: Will be removed on July 1st 2021.
      operationId: reports/get_devices
      security:
      - oauth2:
        - team_info.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateRange'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevicesReport'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRangeError'
  /contacts/delete_manual_contacts:
    post:
      summary: |-
        Removes all manually added contacts.
            You'll still keep contacts who are on your team or who you imported.
            New contacts will be added when you share.
      operationId: delete_manual_contacts
      security:
      - oauth2:
        - contacts.write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
  /contacts/delete_manual_contacts_batch:
    post:
      summary: Removes manually added contacts from the given list.
      operationId: delete_manual_contacts_batch
      security:
      - oauth2:
        - contacts.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteManualContactsArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteManualContactsError'
  /files/get_metadata:
    post:
      summary: |-
        Returns the metadata for a file or folder. This is an alpha endpoint
            compatible with the properties API.

            Note: Metadata for the root folder is unsupported.
      operationId: get_metadata
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlphaGetMetadataArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlphaGetMetadataError'
  /files/list_folder/longpoll:
    post:
      summary: |-
        A longpoll endpoint to wait for changes on an account. In conjunction with
            :route:`list_folder/continue`, this call gives you a low-latency way to
            monitor an account for file changes. The connection will block until there
            are changes available or a timeout occurs. This endpoint is useful mostly
            for client-side apps. If you're looking for server-side notifications,
            check out our
            :link:`webhooks documentation https://www.dropbox.com/developers/reference/webhooks`.
      operationId: list_folder/longpoll
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderLongpollArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderLongpollResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderLongpollError'
  /files/list_folder:
    post:
      summary: |-
        Starts returning the contents of a folder. If the result's :field:`ListFolderResult.has_more`
            field is :val:`true`, call :route:`list_folder/continue` with the returned
            :field:`ListFolderResult.cursor` to retrieve more entries.

            If you're using :field:`ListFolderArg.recursive` set to :val:`true` to keep a local cache of
            the contents of a Dropbox account, iterate through each entry in order and process them as
            follows to keep your local state in sync:

            For each :type:`FileMetadata`, store the new entry at the given path in your local state. If the
            required parent folders don't exist yet, create them. If there's already something else at the
            given path, replace it and remove all its children.

            For each :type:`FolderMetadata`, store the new entry at the given path in your local state. If
            the required parent folders don't exist yet, create them. If there's already something else at
            the given path, replace it but leave the children as they are. Check the new entry's
            :field:`FolderSharingInfo.read_only` and set all its children's read-only statuses to match.

            For each :type:`DeletedMetadata`, if your local state has something at the given path, remove it
            and all its children. If there's nothing at the given path, ignore this entry.

            Note: :type:`auth.RateLimitError` may be returned if multiple :route:`list_folder` or
            :route:`list_folder/continue` calls with same parameters are made simultaneously by same
            API app for same user. If your app implements retry logic, please hold off the retry until
            the previous request finishes.
      operationId: list_folder
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderError'
  /files/list_folder/continue:
    post:
      summary: |-
        Once a cursor has been retrieved from :route:`list_folder`, use this to paginate through all
            files and retrieve updates to the folder, following the same rules as documented for
            :route:`list_folder`.
      operationId: list_folder/continue
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderContinueArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderContinueError'
  /files/list_folder/get_latest_cursor:
    post:
      summary: |-
        A way to quickly get a cursor for the folder's state. Unlike :route:`list_folder`,
            :route:`list_folder/get_latest_cursor` doesn't return any entries. This endpoint is for app
            which only needs to know about new files and modifications and doesn't need to know about
            files that already exist in Dropbox.
      operationId: list_folder/get_latest_cursor
      security:
      - oauth2:
        - files.metadata.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFolderArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderGetLatestCursorResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderError'
  /files/download:
    post:
      summary: Download a file from a user's Dropbox.
      operationId: download
      security:
      - oauth2:
        - files.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadError'
  /files/download_zip:
    post:
      summary: |-
        Download a folder from the user's Dropbox, as a zip file. The folder must be less than 20 GB
            in size and any single file within must be less than 4 GB in size. The resulting zip must have
            fewer than 10,000 total file and folder entries, including the top level folder. The input
            cannot be a single file.

            Note: this endpoint does not support HTTP range requests.
      operationId: download_zip
      security:
      - oauth2:
        - files.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadZipArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadZipResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadZipError'
  /files/export:
    post:
      summary: |-
        Export a file from a user's Dropbox. This route only supports exporting files that cannot be downloaded directly
             and whose :field:`ExportResult.file_metadata` has :field:`ExportInfo.export_as` populated.
      operationId: export
      security:
      - oauth2:
        - files.content.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportArg'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportError'
  /files/upload_session/start_batch:
    post:
      summary: |-
        This route starts batch of upload_sessions. Please refer to `upload_session/start` usage.

            Calls to this endpoint will count as data transport calls for any Dropbox
[...]
